@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/futura/futur.ttf');
    font-weight: normal;
    font-style: normal;

}


div * {
    font-family: 'Futura', 'Arial', sans-serif;

}

html, body {
    width: 100%;
    background-color: #E9E8E4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

hr {
    clear:both;
    display:block;
    width: 90%;
    border: #A4D8BE;
    background-color:#A4D8BE;
    height: 3px;
    margin-top: 50px;
}

input {
    outline:none;
    background-color: transparent;
}

textarea {
    resize: none;
    outline: none;
    border-radius: 5px;
}


.container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: 100%;
    flex: 1;
}

.navbar{
    padding: 25px;
    display: flex;
    justify-content: flex-end;

}

.navbar-links{
    display: flex;
    padding: 10px;
    width: 40vw;
    justify-content: space-around;
}

.nav-link{
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}


.logo{
    padding: 10px;
    width: 5vw;
    margin-right: auto;
}


.main{
    margin-top: 150px;
    margin-left: 50px;
    width: 50vw;
    padding: 10px;
}

.main-button{
    margin-top: 35px;
}

.learn-more{
    padding: 15px 150px;
    border-radius: 25px;
    background-color: #A4D8BE;
    border: #A4D8BE;
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
}

.greetings{
    font-size: 33px;
    font-weight: bold;
    line-height: 1.4;

}

.support{
    font-size: 33px;
    line-height: 1.4;
}
.footer{

    text-align: center;

}

.twitter{
    width: 35px;
    padding: 25px;
    margin-left: 15px;

}

.github{
    width: 35px;
    padding: 25px;
    margin-left: 15px;

}

.linkedin{
    width: 35px;
    padding: 25px;
    margin-left: 15px;

}

.main-resume{
    margin-top: 25px;
    text-align: center;
}

.resume{

    width: 65vw;
    height: 95vh;
}

.projects-section{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 75vw;
    margin-left: 100px;
}

.header{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.sub-header{
    font-size: 30px;
    margin-top: 30px;

}

.info{
    font-size: 20px;
    margin-top: 30px;
    line-height: 1.2;
}

.image-container{
    text-align: center;
}

.teaser-image{

    margin-top: 30px;
    width: 75%;
    height: 75%;
}

.contact-section{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50vw;
    margin-left: 100px;

}

.contact-head{
    font-size: 40px;
    font-weight: bold;
}

.contact{
    margin-top: 30px;
}

.input-section{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    width: 25vw;
}

.submit-section{
    margin-top: 30px;
}
.submit-button{
    padding: 10px 135px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
    background-color: #A4D8BE;
    color: #666666;

}


@media (min-width: 1440px) {

    .greetings{
        font-size: 45px;
    }

    .support{
        font-size: 45px;
    }

    .nav-link{
        font-size: 30px;
    }
}




 @media (max-width: 768px) {
     .navbar{
         padding: 25px;
         display: flex;
         justify-content: center;
     }
     .navbar-links{
         display: flex;
         justify-content: space-between;
         padding: 10px;
         width: 30vw;

     }
     .nav-link{
         font-size: 15px;
     }

     .main{
         margin-top: 0px;
     }
     .support{
         font-size: 30px;
         width: 35vw;
     }
     .learn-more{
         padding: 5px 25px;
         border-radius: 25px;
         background-color: #A4D8BE;
         border: #A4D8BE;
         text-decoration: none;
         color: #FFF;
         font-size: 20px;
     }

     .resume{
         width: 80vw;
     }
     .projects-section{
         margin-left: 0px;
         align-items: center;

     }
     .info{
         text-align: left;
         margin-left: 50px;
     }
     .contact-section{
         margin-left: 0px;
         width: 50vw;
         padding: 45px;
     }
     .contact-head{
         font-size: 40px;
     }

     .input-section{
         width: 40vw;

     }

     .submit-button{
         padding: 10px 135px;
         border-radius: 10px;
         font-size: 20px;
         text-decoration: none;
         background-color: #A4D8BE;
         color: #666666;

     }

 }
 
 @media (max-width: 425px) {
     .navbar{
         padding: 25px;
         display: flex;
         justify-content: center;
     }
     .navbar-links{
         display: flex;
         justify-content: space-evenly;
         padding: 10px;
         width: 90vw;

     }
     .nav-link{
         font-size: 15px;
     }

     .main{
         margin-top: 0px;
     }
     .support{
         font-size: 25px;
         width: 80vw;
     }
     .learn-more{
         padding: 5px 25px;
         border-radius: 25px;
         background-color: #A4D8BE;
         border: #A4D8BE;
         text-decoration: none;
         color: #FFF;
         font-size: 20px;
     }

     .resume{
         width: 90vw;
     }
     .projects-section{
         margin-left: 0px;
     }
     .info{
         margin-left: 0px;
     }
     .contact-section{
         margin-left: 0px;
         width: 80vw;
         padding: 45px;
     }
     .contact-head{
         font-size: 40px;
     }

     .input-section{
         width: 75vw;

     }

     .submit-button{
         padding: 10px 135px;
         border-radius: 10px;
         font-size: 20px;
         text-decoration: none;
         background-color: #A4D8BE;
         color: #666666;

     }

 }


@media (max-width: 375px) {
    .navbar{
        padding: 25px;
        display: flex;
        justify-content: start;
    }
    .navbar-links{
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        width: 90vw;

    }
    .nav-link{
        font-size: 15px;
    }

    .main{
        margin-top: 0px;
    }
    .support{
        font-size: 20px;
    }
    .learn-more{
        padding: 5px 25px;
        border-radius: 25px;
        background-color: #A4D8BE;
        border: #A4D8BE;
        text-decoration: none;
        color: #FFF;
        font-size: 20px;
    }

    .resume{
        width: 95vw;
    }
    .projects-section{
        margin-left: 0px;
    }
    .contact-section{
        margin-left: 0px;
        width: 80vw;
        padding: 35px;
    }
    .contact-head{
        font-size: 35px;
    }

    .input-section{
        width: 75vw;

    }

    .submit-button{
        padding: 10px 120px;
        border-radius: 10px;
        font-size: 20px;
        text-decoration: none;
        background-color: #A4D8BE;
        color: #666666;

    }


}


 
 @media (max-width: 320px) {
     .navbar{
         padding: 25px;
         display: flex;
         justify-content: start;
     }
     .navbar-links{
         display: flex;
         justify-content: space-evenly;
         padding: 10px;
         width: 90vw;

     }
     .nav-link{
         font-size: 15px;
     }

     .main{
         margin-top: 0px;
     }
     .support{
         font-size: 20px;
     }
     .learn-more{
         padding: 5px 25px;
         border-radius: 25px;
         background-color: #A4D8BE;
         border: #A4D8BE;
         text-decoration: none;
         color: #FFF;
         font-size: 20px;
     }

     .resume{
        width: 95vw;
     }
     .projects-section{
         margin-left: 0px;

     }

     .contact-section{
         margin-left: 0px;
         width: 80vw;
         padding: 25px;
     }
     .contact-head{
         font-size: 35px;
     }

     .input-section{
         width: 75vw;

     }

     .submit-button{
         padding: 10px 100px;
         border-radius: 10px;
         font-size: 20px;
         text-decoration: none;
         background-color: #A4D8BE;
         color: #666666;

     }


 }
