@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/rubik/Rubik-Black.ttf');
    font-weight: normal;
    font-style: normal;

}


div * {
    font-family: 'Rubik', 'Arial', sans-serif;

}



.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

h1{
    font-size: 45px;
}

p {
    text-align: center;
    font-size: 23px;
    color: #FFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
}

a:hover{
    text-decoration: none;
    background-color: indianred;
}

ul{
    display: flex;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #333333;
}

.header{
    margin-top: 50px;
}
.support{
    margin-top: 25px;
    font-size: 25px;
    width: 750px;
    line-height: 1.2;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #666666;
    padding: 25px 25px;
}


.button-style {
    padding: 8px 25px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 25px;
}

.logo{
    width: 100px;
    height: 50px;
}

 .logo-detail{
     width: 100px;
     height: 50px;
     margin-top: 25px;
 }

.detail-section{
    display: flex;
    justify-content: space-around;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-support{
    color: #333;
    width: 225px;
    font-size: 20px;
    margin-top: 25px;
}

.detail-button{
    margin-top: 25px;
    padding: 8px 25px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

 @media (max-width: 768px) {
     .support{
         width: 540px;
     }

 }
 
 @media (max-width: 425px) {
     .header{
         font-size: 40px;
     }
     .support{
         width: 100%;
         font-size: 20px;
     }
     .detail-section{
         display: flex;
         flex-direction: column;
     }
     
 }
 
 @media (max-width: 320px) {
     .header{
         font-size: 30px;
     }
     .support{
         width: 100%;
         font-size: 15px;
     }
     
 }


